@forward '../globals';

// MOBILE FIRST 

.statistics{
    background-color: var(--heavy-gray);
    padding: 4em 2em;
    color: var(--white-color);
    text-align: center;

    &__number{
        font-size: 1.8em;
        font-weight: 300;
        margin-bottom: .7em;
    }

    


// RESPONSIVE 

@media only screen and (min-width: 37.5em) {
    .statistics{
        padding: 6em 2em;

        &__container{
            display: flex;
            justify-content: space-between;
            width: 75%;
            margin-inline: auto;
        }
    }
    }
}